<div class="hero">
  <p class="large brandon">joey is coming</p>
  <p class="small brandon">Letting babies dine in peace,<br>with their favourite person - mom!</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>